<div class="jumbotron">
  <div class="row">
    <h1>Search URL's</h1>
    <form class="form-inline" ng-submit="searchURLs()">
      <div class="form-group">
        <input ng-model="searchTerm" type="text" class="form-control input-lg" id="url-input" placeholder="Search Terms">
      </div>
      <button type="submit" class="btn btn-lg btn-success">Search!</button>
    </form>
  </div>
</div>

<div class="row search-results">
  <div class="col-lg-10 col-lg-offset-1">
    <h2>Search Results</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Short URL</th>
          <th>Requests</th>
        </tr>
      </thead>
      <tbody>
        <td colspan=3 ng-show="!searchedUrlsList.length">No results</td>
        <tr ng-repeat="url in searchedUrlsList">
          <td>{{url.title}}</td>
          <td><a href="{{url.short_url}}">{{url.short_url}}</a></td>
          <td>{{url.requests}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
